.show-form__content {
    max-width: 1400px;
    margin: 0 auto;
    padding: 30px 15px;

}



.show-table {
    margin: 30px auto;
    width: 80%;
    text-align: center;
}

.show-table__inner {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 12px;
    overflow: hidden;

}

.show-table__row {
    text-align: center;
}

.show-table__header,
.show-table__item,
.show-table__item a {
    font-weight: bold;
    color: #7b7b7b;
    background: #fff;
    font-size: 20px;
    padding: 5px 0;
    text-decoration: none;
}

.show-table__header {
    border-bottom: 6px solid #f0eff2;
}

.show-table__item {
    border-bottom: 3px solid #f0eff2;
}

.show-table__header:first-child,
.show-table__item:first-child {
    padding-left: 30px;
    text-align: left;
}