.detail-form__content {
    max-width: 1400px;
    margin: 0 auto;
    padding: 30px 15px;

}


.detail-form__header h1 {
    width: 100%;
    padding: 5px 30px;
}

.detail-form__wrapper {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 12px;
    background-color: #fff;
}

.detail-form__group {
    width: 100%;
    border-bottom: 3px solid #f0eff2;
    height: 80px;
    padding-left: 50px;
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
}

.detail-form__label {
    flex: 0 0 40%;
    color: #737373;
}

.detail-form__value,
.detail-form__input {
    flex: 0 0 20%;
    display: flex;
    justify-content: center;
}

.detail-form__time-separator {
    flex: 0 0 5%;
    display: flex;
    justify-content: center;
}


.detail-form__input input {
    width: 150px;
    height: 35px;
    border: solid 3px #f0eff2;
    border-radius: 6px;
    font-size: 25px;
    font-weight: bold;
}

.detail-form__gorup-text {
    width: 100%;
    height: 100px;
    padding-left: 50px;
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
}


.detail-form__text {
    flex: 0 0 45%;
    display: flex;
    justify-content: center;
}

.detail-form__text textarea {
    width: 400px;
    height: 80px;
    border: solid 3px #f0eff2;
    border-radius: 6px;
    font-size: 25px;
    font-weight: bold;
}

.detail-form__button {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
}

.detail-form__button button {
    width: 150px;
    height: 60px;
    margin-top: 30px;
    background-color: #000;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    border-radius: 10px;
}

.detail-form__cannot {
    color: #f77879;
    margin-top: 10px;
    font-size: 20px;
}