.header {
    background: #1e1e1e;

}

.header__inner {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;

}

.header__inner-label {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;

}

.header__logo {
    margin-right: 20px;
}

.form__button-attndance {
    margin-left: 400px;
    width: 10%;
}


.form__button-request{
    width: 10%;
}


.form__button-logout,
.form__button-show {
    margin-left: 10px;
    width: 15%;
}

.form__button-logout button,
.form__button-attndance button,
.form__button-show button,
.form__button-request button {
    width: 100%;
    height: 40px;
    color: #ffffff;
    background-color: #1e1e1e;
    border: none;
    font-size: 20px;
}


body:not(.auth-page) {
    background-color: #f0eff2;
}